/* CSS Document */

textarea {
  width: 60%;
}

.chatfrom {
  color: darkred;
  text-decoration: underline;
  font-size: smaller;
  font-weight: 200;
}

.chat {
  color: navy;
  font-size:medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}